.wrapper{
    width: 100%;
    display: grid;
    grid-template-areas:"item1 item2 item3 item4";
    grid-gap: 20px;
    padding: 20px 0;
}
.item1{
   grid-area: item1 ;
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 0px 30px;
}
.item2{
    grid-area: item2 ;
    padding: 30px 10px;
}
.item3{
    grid-area: item3 ;
    padding: 30px 10px;
}
.item4{
    grid-area: item4 ;
    padding: 30px 10px;
}

.infoLink{
    text-decoration: none;
    font-size: 12px;
    font-weight: 400;
    padding-top: 20px;
    color: orange;
}


@media only screen and (max-width: 600px) {
    .wrapper{
        width: 100%;
        display: block;
    }
    .item1{
        display: block;
        padding: 0px;
     }

    .item1 > h1{
        font-size: 24px;
        width: 100% !important;
        text-align: center;
    }
    .item2{
        padding: 0 20px;
        margin: 30px 0;
    }
    .item3{
        padding: 0 20px;
        margin: 30px 0;
    }
    .item4{
        padding: 0 20px;
        margin: 30px 0;
    }
  }