.wrapper{
    display: flex;
    flex-direction: column;
}
.tag{
 text-align: center;
 font-size: 14px;
 text-transform: uppercase;
 color: orange;
}
.heading{
    text-align: center;
    font-size: 1.8rem;
    text-transform: capitalize;
    color: #000;
}
.gridContainer{
  width: 80%;
  margin: auto;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}