.heroContainer{
    background: url('../../public/HeroBackground.png') no-repeat center center;
    background-size: cover;
    min-height: 100vh;
}

@media screen and (max-width : 600px) {
    .heroContainer{
        min-height: auto;
        margin-bottom: 20px;
    }
    
}